    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="#"><img src="{{asset('bundles/app/frontend/img/logo.png')}}" width="50" height="40" data-retina="true" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Painel">
                    <a class="nav-link" href="{{ path('dashboard_index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Painel</span>
                    </a>
                </li>
                {% if is_granted("ROLE_PROFESSIONAL") %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Painel">
                        <a class="nav-link" href="{{ path('dashboard_ads') }}">
                            <i class="fa fa-fw fa-newspaper-o"></i>
                            <span class="nav-link-text">Meus anúncios</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mensagens">
                    <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-envelope-open"></i>
                        <span class="nav-link-text">Mensagens</span>
                    </a>
                </li>
                {% if is_granted("ROLE_USER") %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Favoritos">
                        <a class="nav-link" href="#">
                            <i class="fa fa-fw fa-star"></i>
                            <span class="nav-link-text">Favoritos</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Comentários">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-archive"></i>
                        <span class="nav-link-text">Comentários</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Meu perfil">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfile" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Meu perfil</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseProfile">
                        <li>
                            <a href="#">Editar perfil</a>
                        </li>
                        <li>
                            <a href="#">Editar interesses</a>
                        </li>
                        {% if is_granted("ROLE_PROFESSIONAL") %}
                            <li>
                                <a href="#">Verificar meu status</a>
                            </li>
                            <li>
                                <a href="{{ path('dashboard_driver_documents') }}">Minha documentação</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Sair</a>
                </li>
            </ul>
        </div>
    </nav>